{% extends 'base.html' %}

{% block content %}

<h1>📅 Histórico de Entregas</h1>

<div class="card">
    <form method="POST">
        <label>Selecione uma data:</label>
        <input type="date" name="data" required>

        <button type="submit">Buscar</button>
    </form>
</div>

{% if data_filtro %}
<div class="card">
    <h2>Resultados para {{ data_filtro }}</h2>

    {% if deliveries %}
        <ul>
            {% for d in deliveries %}
                <li>
                    R$ {{ d['valor_produto'] }} +
                    taxa R$ {{ d['taxa'] }} →
                    {{ d['bairro'] }} -
                    {{ d['hora'] }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhuma entrega encontrada.</p>
    {% endif %}
</div>
{% endif %}

{% endblock %}